h1{  
color:red;  
}    
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color:whitesmoke;
}
#search{
    text-align: center;
    margin: 2%;
        }
#chartdiv {
    width: 100%;
    height: 500px;
   
  }
#description{
    margin: 1%;
}